/* Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


/* Global CSS */
* {
    font-family: 'Raleway', sans-serif;
}



/*-----------------
 Navbar
 ---------------- */
nav ul li a.nav-link {
    color: black;
    font-weight: 600;
}

nav ul li a.nav-link:focus {
    color: #D92B2A;
    font-weight: 600;
}

nav ul li a.nav-link:hover {
    color: #D92B2A;
    font-weight: 600;
}


/*------------------------
 Food Search
 --------------------- */

Header form {
    width: 350px;
}

Header form input {
    border-radius: 20px 0 0 20px !important;
    -webkit-border-radius: 20px 0 0 20px !important;
    -moz-border-radius: 20px 0 0 20px !important;
    -ms-border-radius: 20px 0 0 20px !important;
    -o-border-radius: 20px 0 0 20px !important;
}

Header form button {
    color: white;
    outline: none;
    border: none;
    background-color: #00a01b;
    font-weight: 600;
    border-radius: 0 20px 20px 0;
    -webkit-border-radius: 0 20px 20px 0;
    -moz-border-radius: 0 20px 20px 0;
    -ms-border-radius: 0 20px 20px 0;
    -o-border-radius: 0 20px 20px 0;
}

Header form button:hover {
    background-color: #000000;
    color: white;
}


/*----------------------
 Categories
 ------------------------ */

#categories .container .section-title span {
    color: #00a01b;
}

#categories .container .section-title .bars .first {
    width: 30px;
    height: 3px;
    margin-right: 2px;
}

#categories .container .section-title .bars .second {
    width: 5px;
    height: 3px;
    margin-right: 2px;
}

#categories .container .section-title .bars .third {
    width: 3px;
    height: 3px;
    margin-right: 2px;
}

#categories .container .section-title .bars .fourth {
    width: 2px;
    height: 3px;
    margin-right: 2px;
}
#categories .container .col .product-image{
    height: 210px;
}
#displaySearchResult .col{
    cursor: pointer;
}
#displaySearchResult .col .card:hover{
    box-shadow: 0px 0px 12px 11px rgb(0 0 0 / 7%);
}

/* loader */
#loading{
    display: none;
}
/* result not found */
#resultNotFound{
    display: none;
}



/*---------------------
 Shopping cart ofCanvas 
 ---------------------------*/
.cart-btn{
    border: none;
    outline: none;
    padding: 0px 10px;
    margin: 0 10px;
    width: 30px;
    height: 30px;
}
#item-delete-btn{
    background: none;
}
#item-delete-btn:hover{
    background-color: rgb(226, 226, 226);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#item-minus-btn{
    margin-left: 0;
}
#add-to-cart{
    border: none;
}